/* tablet and mobile */
@media (max-width: 1023px) {
    :root {
        --header-height:68px;
        --navbar-height: 0px;
        --header-search-height: calc(var(--header-height) - var(--navbar-height));
    }
    .hide-on-tablet-mobile {
        display: none;
    }
    
    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }

    .header-search-cart {
        margin: 0px 0px 0px 20px;
    }

    .search-cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        left: 0;
        width: 100%;
        padding: 0 calc((100% - 644px)/2);
    } 
    
    .search-cart-list::after {
        right: 45px;
    }

    .search-cart-list::before {
        display: none;
    }
    
    .header-sort-bar {
        display: flex;
    }
    .app-container {
        margin-top: calc(var(--header-height) + 46px);
        padding-top: 8px;
    }
    .mobile-category {
        display: block;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet {
        display: none;
    }
    .pagination-list {
        margin: 0 10px;
    }
}


/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .header-search-bar {
        display: none;
    }

    .header-search {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        z-index: 4;
    }

    .header-search-logo {
        width: 146px;
    }

    .header-search-cart {
        margin: 0;
    }

    .nav-bar-mobile {
        display: flex;
        align-items: center;
    }
    .pagination-list {
        margin: 0;
    }
    .pagination-link {
        font-size: 1.6rem;
    }
    .header-search-icon {
        width: 120px;
        margin-top: -4px;
    }
}
